.main-app {
  height: 100%;
  width: 100%;
  /* position: absolute;  */
  position: absolute;
}

.background-style {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  background-color: white;
}