.main-app {
  height: 100%;
  width: 100%;
  /* position: absolute;  */
  position: absolute;
}


.login-register-pages-background {

  /* background:  center cover fixed; */
  background-image: url('../BackgroundImages/parentBackgroundImage.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  background-color: white;
}


.parent-background-image {

  /* background:  center cover fixed; */
  background-image: url('../BackgroundImages/parentBackgroundImage.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  background-color: white;
}

.provider-background-image {
  /* background:  center cover fixed; */
  background-image: url('../BackgroundImages/parentBackgroundImage.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  background-color: white;
}