.parent-background-image {
  /* background:  center cover fixed; */
  background-image: url('../BackgroundImages/parentBackgroundImage.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  background-color: white;
}