.register-main-container {
  background-color: transparent;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.register-title {
  font-size: 32px;
  font-weight: 400;

  margin-top: 12px;
}

.register-container {
  width: 500px;
  height: 620px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: -35px;

  margin-top: 20vh;
}

.register-inputs-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.register-submit-button-container {
  margin-top: 10px;

  color: white;
}

.register-submit-button {
  border: none;
  border-radius: 11px;

  padding: 8px;
  padding-right: 20px;
  padding-left: 20px;


  font-size: 18px;
}



.user-doesnt-exist-label {
  color: red;
}

.register-navigate-button {
  border-color: transparent;
  border-radius: 11px;

  font-size: 20px;

  margin-top: 20px;
  padding-left: 55px;
  padding-right: 55px;

  background-color: #CBBEDD;
}

.register-navigate-button:hover {
  border-color: transparent;

  background-color: #aba0ba;

  outline: none;
  box-shadow: none !important;
}

.register-navigate-button:focus {
  border-color: transparent;

  background-color: #aba0ba;

  outline: none;
  box-shadow: none !important;
}

.register-navigate-button:active {
  border-color: transparent;

  background-color: #aba0ba;

  outline: none;
  box-shadow: none !important;
}



/* Provider and parent background images */
.parent-register-background-image {
  background-image: url('../../website-images/register-background.png');
}

/* TODO: Replace with correct image */
.provider-register-background-image {
  background-image: url('../../website-images/register-background.png');
}


.register-form-input-field {
  border-radius: 11px;
  border: solid white 2px;

  font-size: 15px;

  width: 220px;
  height: 50px;

  padding: 10px;
  margin-top: 25px;
  /* margin-bottom: 20px; */
}