.match-cards-container{
  border: none;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items:center;
  align-items: stretch;
  gap: 10px;
  margin: 0 auto;
  perspective: 100%;

  //  Main container sizes
  width: 70vw;
  height: 50vw;
  // max-width: 950px;
  // min-width: 500px;
  // max-height: 550px;
  // min-height: 200px;

  max-width: 30vw;
  max-height: 30vw;
}


.match-card{

  border: 3px solid black;
  background-color: transparent;
  width: 200px;
  height: 200px;

  &.no-border{
    border:none;
    margin: 0;
  }

  &.match-card-active{
    border: 10px solid rgb(33, 170, 138);
    background-color: rgb(33, 170, 138);
  }

  &.match-card-inactive{
    border: none;
    color: rgb(175, 175, 175);
    font-weight: 20;
    opacity: 25%;

  }
}


.card-label{
  font-size: 32px;
}

.match-card-image{
  border-radius: 10px;
  object-fit:cover;
}