.catch-game-main-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  background-image: url("../../website-images/catch-game-background.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
}