.provider-articles-grid-container {
  display: flex;
  gap: 50px;
  width: 70vw;
  height: 400px;
}

.article-container {
  border: none;
  display: flex;
  flex-direction: row;
  margin-top: 70px;
}

.icons-container {
  display: flex;
  flex-direction: column;
  height: 80px;
}

.article-icon {
  cursor: pointer;
}

.article-icon:hover {
  transform: scale(0.95);
}


.article-icon:active {
  transform: scale(0.9);
}



.add-article-image {
  cursor: pointer;
  margin-top: 200px;
}

.add-article-image:hover {
  transform: scale(0.95);
}

.add-article-image:active {
  transform: scale(0.9);
}


.add-article-image-container {
  /* margin-top: 20px; */
}

.article-title-container {}

.article-title-label {
  font-size: 25px;
  font-weight: 500;
  max-width: 200px;
  text-align: center;
}